body {
  font-family: Montserrat;
  text-align: center;
}

h1 {
  font-family: "Montserrat";
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: bold;
}

h2 {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.5;
}

h3 {
  font-family: Montserrat;
  font-weight: bold;
}

#title {
  background-color: #D77FA1;
  color: #FFF9F9;
  text-align: left;
}


.container-fluid {
  padding: 3% 15%;
}


.row {
  padding-top: 3%;
}


/* NAV BAR STYLE */
/* .navbar {

} */



.navbar-brand {
  font-size: 3rem;
  line-height: 2.5;
  font-family: Ubuntu;
}

.nav-item {
  padding: 0 18px;

}

.nav-link {
  font-size: 1.2rem;
}

/* DOWNLOAD BUTTON */
.download-button{
  margin: 5% 3% 5%;
}

/* TITLE IMAGE */
.title-image {
  width: 50%;
  transform: rotate(25deg);
  padding-top: 5%;
  margin: auto;
  display: block;
}

/* FEATURES  */

#features{
  background-color: #FFF9F9;
}

.container-features{
  padding: 5%;
  font-family: Ubuntu;
}



.container-features p{
  color: #D77FA1;
  padding: 0 15% 0 15%;
}

.fas {
  color: #D77FA1;
  margin-bottom: 1rem;
}

.fas:hover {
  color: #BAABDA;
}

/* TESTIMONIALS */

#testimonials {
  background-color: #BAABDA;
  color: #FFF9F9;

}



.testimon-image {
  width: 15%;
  border-radius: 100%;
  margin: 20px;

}

/* PRESS */
#press {
  background-color: #BAABDA;
  color: #FFF9F9;
  padding-bottom: 3%;
  padding-top: 3%;

}

.press-logo {
  width: 12%;
  padding: 0 2% 0 2%
  }

/* PRICING */
#pricing {
  background-color: #FFF9F9;

}

.price-text {
  color: #D77FA1;
}

#cta {
  background-color:  #D77FA1;
  text-align: ;
  color: #FFF9F9;
}


.w-100 {
  color: black;

}


/* footer */

#footer {
  padding: 7% 15%;
}


.social-icon {
  margin: 20px 10px;
}





@media (max-width: 1028px) {

  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}
